<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password - Amazon</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
</head>
<style>
     .error{
    color: aliceblue;
    
  }
  .error{
  background: #c51244 !important;
  padding: 3px !important;
  border-radius: 2px !important;
  position: relative; 
  display: inline-block !important;
  box-shadow: 1px 1px 1px #aaaaaa;
  margin-top: 4px;
  font-size: 12px;
  font-family: sans-serif;
  /* height: 1rem; */
}
.LOg:hover{
    text-decoration:underline ;
}
</style>
<body class="bg-gray-200">
  <div class="flex items-center justify-center min-h-screen">
    <div class="w-full max-w-md bg-white p-6 rounded-lg shadow-md">
      <h1 class="text-3xl font-bold text-center mb-6">Forgot Password?</h1>
      <p class="text-gray-700 text-center mb-2">Enter your email to recover your password.</p>
      <%if(error==1){%>
        <p class="error">ENter valid Email</p> 
      <%}%>
      <%if(error==2){%>
        <p class="error">Email You enter is not registered Yet</p> 
      <%}%>
      <form method="post" action="/forgetPassword">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="email">Email</label>
          <input class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="email" type="email" name="email" placeholder="Enter your email" required>
        </div>
        
        
        <div class="flex items-center justify-between">
          <button class="bg-yellow-500 hover:bg-yellow-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="submit">
            Reset Password
          </button>
          <a href="/login" style="color:rgb(21, 21, 205) ;"class="LOg">Login</a>
        </div>
      </form>
      <p class="text-center text-gray-500 text-xs">
        &copy; 2023 pariwar.com All rights reserved.
      </p>
    </div>
  </div>
</body>

</html>
