
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pariwar</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>

    <body>
        <div class="vh-100 d-flex justify-content-center align-items-center">
            <div class="col-md-4">
                <div class="border border-3 border-success"></div>
                <div class="card  bg-white shadow p-5">
                    <div class="mb-4 text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="text-success" width="75" height="75"
                            fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            <path
                                d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                        </svg>
                    </div>
                    <% var lo,ca,pa,aa,pc; %>
                    <div class="text-center">
                        <% if(msg==100){ %>
                            <h1>See you!</h1>
                            <a href="/" class="btn btn-outline-success">Back to Home</a>
                          <% } else{ %> 
                        <h1>Congratulation !</h1>
                        <%if(msg==101){%>
                          <p>Your account has been created successfully ! </p>
                          <a href="/login" class="btn btn-outline-success">Back to Login</a>
                        <%}%>
                        <%if(msg===102){%>
                          <p>Product has been added successfully to pariwar ! </p>
                          <div class="flex">
                            <a href="/" class="btn btn-outline-success"> Back to Home</a>
                            <button class="btn btn-outline-success" onclick="history.go(-1)">Go to back</button>
                          </div> 
                        <%}%>
                        <%if(msg==103){%>
                           <p>Your address has been added successfully to your account ! </p>
                           <div class="flex">
                            <a href="/myaddress" class="btn btn-outline-success">View Address</a>
                            <button class="btn btn-outline-success" onclick="history.go(-1)">Go to back</button>
                           </div> 
                        <%}%>
                        <%if(msg==104){%>
                           <p> Account Detail has been updated successfully  ! </p>
                           <div class="flex">
                            <a href="/" class="btn btn-outline-success">Back to Home</a>
                            <button class="btn btn-outline-success" onclick="history.go(-1)">Go to back</button>
                           </div> 
                        <%}%>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>